.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.stretch-container {

}

.start-container {

}

.end-container {

}

.center-container {

}

.multiple-cells-center-container {

}

.multiple-cells-center-container .item:first-of-type {
    grid-column-start: span 2;
    grid-row-start: span 2;
}