.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.center-start-container > .item:first-of-type {

}

.end-center-container > .item:first-of-type {

}

.center-center-container > .item:first-of-type {

}

.start-end-container > .item:first-of-type {

}

.multiple-cells-center-container > .item:first-of-type {
    grid-column-start: span 2;
    grid-row-start: span 2;
}