.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 70px);
    height: 300px;
}

.start-container {

}

.end-container {

}

.center-container {

}

.stretch-container {
    
}

.space-around-container {

}

.space-between-container {

}

.space-evenly-container {

}