.container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
}

.item-one-to-last-row-container > .item:first-of-type {

}

.item-seven-to-first-row-container > .item:nth-of-type(7) {

}

.item-three-to-second-row-container > .item:nth-of-type(3) {

}

.item-six-to-first-row-container > .item:nth-of-type(6) {

}

.item-multiple-items-to-last-row > .item:first-of-type,
.item-multiple-items-to-last-row > .item:nth-of-type(2) {

}

.item-multiple-items-to-first-row > .item:nth-of-type(7),
.item-multiple-items-to-first-row > .item:nth-of-type(8) {

}

.item-multiple-items-to-first-row-reordered > .item:nth-of-type(7),
.item-multiple-items-to-first-row-reordered > .item:nth-of-type(8) {

}

.item-multiple-items-to-first-row-reordered > .item:nth-of-type(8) {

}

.item-multiple-items-to-first-row-reordered > .item:first-of-type {

}